
<body>
    <div class="cont ">
        <div class="product-card">
            <div class="product-card__image">
                {{ product.featured_image | image_url: width: 300 | image_tag }}
            </div>
            <div class="product-card__info">
                <h2 class="product-card__title">{{product.title}}</h2>
                <p class="product-card__description">{{ product.description | truncate: 30 }}</p>
                <div class="product-card__price-row">
                    <span class="product-card__price">Price: {{ product.price |  money }}</span>
                    <a href="{{ product.url }}" class="product-card__btn">View Details</a>
                </div>
            </div>
        </div>
    </div>
</body>