{% assign color_string = settings.color_defination %}
{% assign color_code_array = color_string | split: ',' %}

<pre>{{color_code_array|json}}</pre>

<div class="product-variants">
  {% unless product.has_only_default_variant %}
    <div class="product-options my-4">
      {% for option in product.options_with_values %}
        <pre>{{ product.options_with_values | json }}</pre>
        <strong class="py-3">{{ option.name }}</strong> <br>
        {% if type == 'pills' %}
          {% if option.name == 'color' and settings.color_swatch_enabled %}
            {% for color in option.values %}
              {% assign color_value = color | downcase %}
              {% assign color_code_value = color_value %}
              {% for colorCode in color_code_array %}
                <pre>{{colorCode | json}}</pre>
                {% assign color_code_pair = colorCode | split: '|' %}
                <pre>{{color_code_pair | json}}</pre>
                <pre>{{color_code_pair}}</pre>
                {% if color_value == color_code_pair[0] | strip | downcase %}
                  <p>Color value: {{ color_value }}</p>
                  {% assign color_code_value = color_code_pair[1] | strip %}
                {% endif %}
              {% endfor %}
              <label class="variants_pill">
                <input
                  type="radio"
                  id="{{ color.name | downcase | replace: ' ', '_' }}"
                  name="{{ option.name | downcase | replace: ' ', '_' }}"
                  value="{{ color.name }}"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}
                >
                <span class="variant_button" style="background-color:{{color_code_value}}">{{ color }}</span>
              </label>
            {% endfor %}
          {% else %}
            {% for value in option.values %}
              <label class="variants_pill">
                <input
                  type="radio"
                  id="{{ value | downcase | replace: ' ', '_' }}"
                  name="{{ option.name | downcase | replace: ' ', '_' }}"
                  value="{{ value }}"
                  {% if option.selected_value == value %}
                    checked
                  {% endif %}
                >
                <span class="variant_button">{{ value }}</span>
              </label>
            {% endfor %}
          {% endif %}

        {% else %}
          <div class="variant-selector">
            <select class="variant_selector form-control ">
              {% for value in option.values %}
                <option value="{{ value.name }}">{{ value.name }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}

        <br>
      {% endfor %}
    </div>

    <select name="variant">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}" data-img="{{variant.image}}" data-available="{{variant.available}}">
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  {% endunless %}
</div>
