<div class="product-variants">
  <div class="product-options my-4">
    {% for option in product.options_with_values %}
      <strong class="py-3">{{ option.name }}</strong> <br>

      {% for value in option.values %}
        <label class="variants_pill">
          <input
            type="radio"
            id="{{ value | downcase | replace: ' ', '_' }}"
            name="{{ option.name | downcase | replace: ' ', '_' }}"
            value="{{ value }}"
          >
          <span class="variant_button">{{ value }}</span>
        </label>
      {% endfor %}

      <br>
    {% endfor %}
  </div>

  <select name="variant">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>
</div>
