<div class="product-variants">
  <div class="product-options">
    {% for option in product.options_with_values %}
      <label>{{ option.name }}</label> <br>
      {% for value in option.values %}
        <input type="radio" 
               id="{{ value | downcase | replace: ' ', '_' }}" 
               name="{{ option.name | downcase | replace: ' ', '_' }}" 
               value="{{ value }}">
        <label for="{{ value | downcase | replace: ' ', '_' }}">{{ value }}</label>
      {% endfor %}
      <br>
    {% endfor %}
  </div>

  <select name="variant">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>
</div>
