<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" id="cart_drawer_count">Cart Item &bull;{{cart.item_count}}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="card_info">
      <table class="table">
        {% for item in cart.items %}
        <tr class="item">
          <td class="product-image">
            <img src="{{ item.image | img_url: 'small' }}" alt="{{ item.product.title }}">
          </td>
          <td class="item-info">
            <h4 class="item-title">{{item.product.title}}</h4>
            {% unless item.product.has_only_default_variant %}
            {% for option in item.options_with_values %}
            <span class="item_option">{{ option.value }}</span>
            {% endfor %}
            {% endunless %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>