<div class="header-section">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ shop.url }}">
        {% if settings.logo != blank %}
        <img src="{{ settings.logo | img_url: 'small' }}" width="50" height="50" alt="{{ shop.name }}">
        {% else %}
        {{ shop.name }}
        {% endif %}
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in section.settings.menu.links %}
          {% if link.links.size > 0 %}
          <!-- Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ link.url }}" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ link.title }}
            </a>
            <ul class="dropdown-menu">
              {% for child in link.links %}
              <li>
                <a class="dropdown-item" href="{{ child.url }}">{{ child.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <!-- Normal Link -->
          <li class="nav-item">
            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>

        <!-- Search Form -->
        <span class="my-2 mx-2 search_icon " data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
          aria-controls="offcanvasTop">
          {% render 'icon' icons:'search' %}
        </span>
        <!-- Search Form -->


        <!-- user Icon -->
        {% if shop.customer_accounts_enabled %}
        <div class="customer_account mx-3">
          <a href="{{ routes.account_url }}">
            {% render 'icon', icons: 'user' %}
          </a>
        </div>
        {% endif %}
        <!-- user Icon -->

        <div class="header-cart-count">
          <a href="{% if settings.cart_type == 'drawer' %}#offcanvasRight{% else %}{{ routes.cart_url }}{% endif %}"
            class="cart_link" {% if settings.cart_type=='drawer' %} data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" {% endif %}>
            <div class="cart_icon">
              {% render 'icon', icons: 'bag' %}
              <span>{{ cart.item_count }}</span>
            </div>
          </a>


        </div>
      </div>
    </div>
  </nav>
</div>

{% comment %} search box {% endcomment %}

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <predictive-search>
          <form action="{{ routes.search_url }}" method="get" role="search">
            <input type="search" name="q" id="search" value="{{ search.terms |  escape }}" area-expanded="false"
              area-owns="predictive-search-result" area-controls="predictive-search-result" placeholder="Search Here"
              class="form-control">
            <input type="hidden" name="option[prefix]" value="last">
            <div tabindex="-1" id="predictive-search"></div>
          </form>
        </predictive-search>
      </div>
    </div>

  </div>
</div>



{% schema %}
{
"name": "Header",
"settings": [
{
"type": "link_list",
"id": "menu",
"label": "Menu"
}
]
}
{% endschema %}