<div class="order_details_section">
    <div class="container">
        <div class="order_details_wrapper ">
            <div class="order_details_content text-center mb-4">
                <h2 class="mb-4">Order Details</h2>
                <p class="mb-3 text-center">Thank you for your order! Here are the details of your purchase:</p>
                <a href="{{ routes.account_url }}">Return To Dashboard</a>
            </div>
            <div class="row gap-5">
                <div class="col-md-7 p-4 shadow rounded bg-white">
                    <div class="order_header">
                        <h3>order : {{ order.name }}</h3>
                        <p>Placed on {{ order.created_at | time_tag : format: 'date'}}</p>
                        {% if order.cancelled %}
                        <p>Cancelled on : {{ order.cancelled_at | time_tag : format: 'date' }}</p>
                        <p>Reson : {{ order.cancel_reason_label }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>SKU</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th class="text-end">Total</th>
                                </tr>


                            </thead>
                            <tbody>
                                {% for line_item in order.line_items %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {% if line_item.image %}
                                            <div class="me-3">
                                                <img src="{{ line_item.image | image_url: width: 50, height: 50 }}"
                                                    alt="{{ line_item.title }}">
                                            </div>
                                            {% else %}
                                            <div class="me-3">
                                                {% render 'icon', icons: 'no-image', size: '50' %}
                                            </div>
                                            {% endif %}

                                            <div>
                                                <strong><a href="{{ line_item.url }}">{{ line_item.title }}</a></strong>
                                                {% if line_item.variant_title != 'Default Title' %}
                                                <p class="mb-0">{{ line_item.variant_title }}</p>
                                                {% endif %}
                                                {% if line_item.line_level_discount_allocations != blank %}
                                                <ul class="list-unstyled mb-0">
                                                    {% for discount_allocation in
                                                    line_item.line_level_discount_allocations %}
                                                    <li class="text-success small">
                                                        - {{- discount_allocation.discount_application.title -}}:
                                                        {{- discount_allocation.amount | money -}}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                                {% if line_item.fulfillment %}
                                                <div class="fulfilment">
                                                    <span>Fulfilment On : {{ line_item.fulfillment.created_at |
                                                        time_tag: format: 'date' }}</span>
                                                </div>
                                                {% if line_item.fulfillment.tracking_url %}
                                                <a href="{{ line_item.fulfillment.tracking_url }}">Track Order</a>
                                                {% endif %}
                                                {{ line_item.fulfillment.tracking_company }}
                                                {% if line_item.fulfillment.tracking_number %}
                                                <span>Tracking Number : {{ line_item.fulfillment.tracking_number
                                                    }}</span>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ line_item.sku }}</td>
                                    <td>
                                        {% if line_item.original_price != line_item.final_line_price or
                                        line_item.unit_price_measurement %}
                                        <dl>
                                            {% if line_item.original_price != line_item.final_price %}

                                            <dd class="text-decoration-line-through text-muted">
                                                {{ line_item.original_price | money }}
                                            </dd>
                                            <dd>
                                                <span>{{ line_item.final_price | money }}</span>
                                            </dd>
                                            {% else %}
                                            <span>{{ line_item.original_price | money }}</span>
                                            {% endif %}
                                        </dl>
                                        {% else %}
                                        <span>{{ line_item.final_price | money }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ line_item.quantity }}</td>
                                    <td class="text-end">{{ line_item.line_price | money }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 p-4 shadow rounded bg-white">
                    jdfsj
                </div>
            </div>


        </div>
    </div>
</div>