{{ 'product-template.css' | asset_url | stylesheet_tag }}

<div class="product-template-{{section.id}}">
  <div class="product-main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="product-media">
            {% for image in product.images %}
              {{ image.src | image_url: width: 600 | image_tag }}
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-info">
            {% assign form_id = 'product-form-' | append: section.id %}
            {% form 'product', product, id: form_id, class: 'product-form' %}
              <input
                type="hidden"
                name="id"
                value="{{ product.selected_or_first_available_variant.id }}"
              >

              {{ form | payment_terms }}

              {% for block in section.blocks %}
                {% case block.type %}
                    {% comment %}
                      {% when '@app' %}
                      {% render block %}
                    {% endcomment %}

                  {% when 'text' %}
                    <p>{{ block.settings.vendor }}</p>

                  {% when 'title' %}
                    <h1>{{ product.title }}</h1>

                  {% when 'price' %}
                    <div class="product-price">
                      <p>{{ product.price | money_with_currency }}</p>
                    </div>

                  {% when 'SKU' %}
                    <div class="product-sku">
                      <p>SKU: {{ product.selected_or_first_available_variant.sku }}</p>
                    </div>

                  {% when 'quantity' %}
                    <div class="product-quantity">
                      <input
                        type="number"
                        name="quantity"
                        value="1"
                        min="1"
                      >
                    </div>

                  {% when 'description' %}
                    <div class="rte">
                      {{ product.description }}
                    </div>

                  {% when 'buy_buttons' %}
                    <div class="cart-button">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        name="add"
                      >
                        Add To Cart
                      </button>
                      <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>
                {% endcase %}
              {% endfor %}
            {% endform %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product template",
  "class": "product-template",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "vendor",
          "label": "Vendor text",
          "default": "Vendor name"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title"
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "SKU",
      "name": "SKU",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_dynamic_button",
          "label": "Enable dynamic checkout button",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}
