<div class="order_details_section">
    <div class="container">
        <div class="order_details_wrapper ">
            <div class="order_details_content text-center p-4 shadow rounded bg-white mb-4">
                <h2 class="mb-4">Order Details</h2>
                <p class="mb-3 text-center">Thank you for your order! Here are the details of your purchase:</p>
                <a href="{{ routes.account_url }}">Return To Dashboard</a>
            </div>
            <div class="row gap-2">
                <div class="col-md-7 mb-4">
                    <div class="order_header">
                        <h3>order : {{ order.name }}</h3>
                        <p>Placed on {{ order.created_at | time_tag : format: 'date'}}</p>
                        {% if order.cancelled %}
                        <p>Cancelled on : {{ order.cancelled_at | time_tag : format: 'date' }}</p>
                        <p>Reson : {{ order.cancel_reason_label }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>SKU</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th class="text-end">Total</th>
                                </tr>


                            </thead>
                            <tbody>
                                {% for line_item in order.line_items %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            {% if line_item.image %}
                                            <div class="me-3">
                                                <img src="{{ line_item.image | image_url: width: 50, height: 50 }}" alt="{{ line_item.title }}">
                                            </div>
                                            {% endif %}
                                            <div>
                                                <strong><a href="{{ line_item.url }}">{{ line_item.title }}</a></strong>
                                                {% if line_item.variant_title != 'Default Title' %}
                                                <p class="mb-0">{{ line_item.variant_title }}</p>
                                                {% endif %}
                                            </div>

                                        </div>
                                    </td>
                                    <td>{{ line_item.sku }}</td>
                                    <td>{{ line_item.price | money }}</td>  
                                    <td>{{ line_item.quantity }}</td>
                                    <td class="text-end">{{ line_item.line_price | money }}</td>

                                </tr>
                               
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 p-4 shadow rounded bg-white">
                    jdfsj
                </div>
            </div>


        </div>
    </div>
</div>